- provide(:title, "About")
.container.about-container
  %h1 What is DEPS?
  .explain-container
    %h4 DEPS is designed to help you organize and manage your workload.
    .text-container
      %p You can record your tasks and logs.
      %p By following other user, you can check other user's tasks.