-provide(:title, "Login")
.input-container
  .row
    .col.form-box
      %h1.input-title Log in
      = form_with(scope: :session, url: login_path, local: true) do |f|
        .form-group
          =f.text_field :email, class: "form-control", placeholder: "email"
        .form-group
          =f.text_field :password, class: "form-control", placeholder: "password"
        .form-group
          =f.check_box :remember_me, class: "form-check"
          =f.label :remember_me, "Remember me", class: "form-check-label"
        =f.submit "Login", class:"btn btn-info submit-btn"

      .account-container
        %p.do-not-have-account Haven't you created own account?
        = link_to "Create Account now", signup_path, class: "btn btn-secondary"
      .account-container
        %p.forget-email Forgot password?
        = link_to "Reset password", new_password_reset_path, class: "btn btn-secondary"