-provide(:title, "Forgot password")
.input-container
  .row
    .col.form-box
      %h1.input-title Forgot password
      = form_with(scope: :password_reset, url: password_resets_path, local: true) do |f|
        .form-group
          =f.text_field :email, class: "form-control", placeholder: "input your email"
        = f.submit "Submit", class: "btn btn-info submit-btn"