= form_with model: @user do |f|
  =render "shared/error_messages", object: @user
  .form-group
    =f.text_field :name, class: "form-control", placeholder: "name",
  .form-group
    =f.text_field :email, class: "form-control", placeholder: "email",
  .form-group
    =f.text_field :password, class: "form-control", placeholder: "password"
  .form-group
    =f.text_field :password_confirmation, placeholder: "password_confirmation", class: "form-control"

  = f.label "choose your profile image"
  = f.file_field :picture

  =f.submit yield(:button_text), class:"btn btn-info submit-btn"