= form_with model: @user, local: true do |f|
  =render "shared/error_messages", object: @user
  .form-group
    =f.text_field :name, class: "form-control", placeholder: "名前"
  .form-group
    =f.text_field :email, class: "form-control", placeholder: "メールアドレス"
  .form-group
    =f.text_field :password, class: "form-control", placeholder: "パスワード"
  .form-group
    =f.text_field :password_confirmation, placeholder: "パスワード再確認", class: "form-control"

  = f.label "プロフィール画像"
  = f.file_field :picture

  =f.submit yield(:button_text), class:"btn btn-info submit-btn"
