- provide(:title, "検索結果")
.row
  .result-container.col-md-6.offset-md-3
    - if @users.present?
      .page-control= paginate @users
      %h1.result 検索結果
      %ol.searchUsers
        = render @users
    -else
      %h1 ユーザーが見つかりませんでした。
