- provide(:title, "Search Result")
.row
  .result-container.col-md-6.offset-md-3
    - if @users.present?
      .page-control= paginate @users
      %h1.result Search Result
      %ol.searchUsers
        = render @users
    -else
      %h1 Not found user.
