- provide(:title, "Events")
.events-container
  .row
    #calendar.col-md-5.offset-md-1

    .col-md-5
      %button.btn.btn-info.btn-event{:onclick => "$('#inputEventForm').modal('show')", :type => "button"}
        New Event
      - if @user.events.any?
        .page-control= paginate @events
        %h4
          Events
        %ol.events
          = render @events

  = render "events/input_form"
