- provide(:title, "Subjects")
%button.btn.btn-info.create-subject.btn-sm{:onclick => "$('#inputSubjectForm').modal('show')", :type => "button"}
  New subject
- if logged_in?
  .container.subjects-container
    - if @user.subjects.any?
      .page-control= paginate @subjects
      %ul.subjects
        = render @subjects
    - else
      .row
        %h1 You haven't create subjects.

  = render "subjects/input_form"