- provide(:title, "Subjects")
- if logged_in?
  .row
    .container.subjects-container.span12
      %ul.thumbnails
        %li.span3
          .subject-picture
          .subject-caption
            .subject-name
            .subject-total-time
          .subject-btn