- provide(:title, "サブジェクト一覧")
%button.btn.btn-info.create-subject.btn-md{:onclick => "$('#inputSubjectForm').modal('show')", :type => "button"}
  サブジェクト新規作成
- if logged_in?
  .container.subjects-container
    - if @user.subjects.any?
      .page-control= paginate @subjects
      %ul.subjects
        = render @subjects
    - else
      .row
        %h1 まだサブジェクトが作成されていません。

  = render "subjects/input_form"