- provide(:title, @subject.name)
.container.subject-show-container
  .row
    .col-md-6
      = column_chart @records, discrete: true, colors: ["#3eaeca"]
    .col-md-6
      .page-control= paginate @microposts
      %h4 Log
      %ol.microposts
        = render @microposts