@import "bootstrap";
@import "header";
@import "microposts";
@import '@fullcalendar/daygrid/main.css';
@import 'font-awesome';

$bgDefault      : #111111;
$bgHighlight    : #333333;
$colDefault     : #3eaeca;
$colHighlight   : #81c2d2;
$dropDown       : true;

body {
  background-color: #1a1d21;
  color: #fff;
}

section {
  overflow: auto;
}

.jumbotron-extend {
  background-color: #1a1d21;
  .container {
    margin-top: 6rem;
    h1,
    p {
      margin-bottom: 0.75rem;
      color: #fff;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    p:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

//follow-users

.followUsers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #777;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .user-picture {
    overflow: auto;
    margin-right: 10px;
    margin-top: 5px;
  }
}

//about page

.about-container {
  margin-top: 90px;
  text-align: center;
}

.explain-container {
  margin-top: 30px;
}

.text-container {
  margin-top: 20px;
}

// calendar

#calendar {
  height: 500px !important;
}

.calendar-title {
  color: $colHighlight;
}

.modal-content {
  background-color: $bgDefault;
}

.modal-title {
  text-align: right
}

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #777;
  }
}

.btn-event {
  float: right;
  padding: 5px;
}

.events-container {
  margin-top: 60px;
}

// search result

.result-container {
  margin-top: 30px;
}

.result {
  font-size: 30px;
}

.searchUsers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #777;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .user-picture {
    overflow: auto;
    margin-right: 10px;
    margin-top: 5px;
  }
}

// event#show
.event-show-container {
  padding-top: 20px;
  margin-top: 30px;
  border: 1px solid #666;
  width: 870px;
}

.event-time {
  margin-top: 20px;
  font-weight: normal;
}

.event-detail {
  margin-top: 20px;
  font-weight: normal;
}

.event-delete-button {
  float: right;
  position: relative;
}

// chart

.graph-container {
  margin-top: 30px;
}

.modal {
  display: none;
}

// event-form

.event-btn {
  margin-top: 20px;
}

// user

.user_info {
  text-align: center;
  .user_image {
    margin-right: 10px;
    border-radius: 24px;
  }
  .info-picture {
    height: 100px;
    width: 100px;
    border-radius: 48px;
    margin-bottom: 10px;
  }
  .user-left-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
  }
}

.stats {
  text-align: center;
  margin-top: 5px;
  a {
    padding: 0 10px;
    color: $colDefault;
    &:hover {
      text-decoration: none;
      color: $colHighlight;
    }
    #followers {
      border-left: 1px solid #888;
      padding-left: 20px;
    }
  }
}

// subjects

.subjects-container {
  margin-top: 60px;
}

.create-subject {
  float: right;
  size: 160px;
  margin: 20px;
}
.item {
  width: 200px;
  text-align: center;
}

.subjects>li {
  float: left;
  margin-bottom: 30px;
  margin-left: 30px;
  list-style: none;
  border: 1px solid #555;
}

.subject-picture {
  margin-bottom: 20px;
  margin-top: 4px;
}

.subject-info {
  padding: 9px;

}

.buttons {
  display: flex;
  position: relative;
  left: 10px;
  .subject-btn {
    margin-left: 4px;
  }
}

//subject-show

.subject-show-container {
  margin-top: 60px;
}



