@import "bootstrap";
@import "header";
@import "microposts";
@import '@fullcalendar/daygrid/main.css';
@import 'font-awesome';

$bgDefault      : #1a1d21;
$bgHighlight    : #333333;
$colDefault     : #3eaeca;
$colHighlight   : #81c2d2;
$dropDown       : true;

body {
  background-color:$bgDefault;
  color: #fff;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

section {
  overflow: auto;
}

@keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}

// top page

.top-container {
  display: flex;
  .text-container {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: linear;
  }
  .column {
    height: 100%;
    width: 50%;
  }
  .left-container {
    background-image: url("top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    height: 620px;
  }
  .right-container {
    .signup-container {
      padding-top: 150px;
      width: 450px;
      text-align: center;
      margin: auto;
    }
  }
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}

//follow-users

.followUsers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #777;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .user-picture {
    overflow: auto;
    margin-right: 10px;
    margin-top: 5px;
  }
}

// calendar

#calendar {
  height: 500px !important;
}

.calendar-title {
  color: $colHighlight;
}

.modal-content {
  background-color: $bgDefault;
}

.modal-title {
  text-align: right
}

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #777;
  }
}

.btn-event {
  float: right;
  padding: 5px;
}

.events-container {
  margin-top: 60px;
}

// search result

.result-container {
  margin-top: 30px;
}

.result {
  font-size: 30px;
}

.searchUsers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 1px solid #777;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .user-picture {
    overflow: auto;
    margin-right: 10px;
    margin-top: 5px;
  }
}

// event#show
.event-show-container {
  padding-top: 20px;
  margin-top: 30px;
  border: 1px solid #666;
  width: 870px;
}

.event-time {
  margin-top: 20px;
  font-weight: normal;
}

.event-detail {
  margin-top: 20px;
  font-weight: normal;
}

.event-delete-button {
  float: right;
  position: relative;
}

// chart

.graph-container {
  margin-top: 30px;
}

.modal {
  display: none;
}

// event-form

.event-btn {
  margin-top: 20px;
}

// user

.user_info {
  text-align: center;
  .user_image {
    margin-right: 10px;
    border-radius: 24px;
  }
  .info-picture {
    height: 100px;
    width: 100px;
    border-radius: 48px;
    margin-bottom: 10px;
  }
  .user-left-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
  }
}

.stats {
  text-align: center;
  margin-top: 5px;
  a {
    padding: 0 10px;
    color: $colDefault;
    font-size: 14px;
    &:hover {
      text-decoration: none;
      color: $colHighlight;
    }
    #followers {
      border-left: 1px solid #888;
      padding-left: 20px;
    }
  }
}

.tab_switch {
  display: none;
  position: absolute;
}

.tab_item {
  width: 80px;
  height: 50px;
  border: 1px solid $colDefault;
  border-radius: 8px;
  background-color: $bgHighlight;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: $colHighlight;
  display: block;
  cursor: pointer;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover {
    background-color: #eee;
  }
}

.tab_content {
  display: none;
}

#log:checked ~ #log_content,
#chart:checked ~ #chart_content,
#subject:checked ~ #subject_content {
  display: block;
}

input:checked + .tab_item {
  background-color: rgb(38, 101, 184);
  color: #fff;
}

.page-control-in-tabs {
  float: right;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.no-subject {
  margin-top: 40px;
}
// subjects

.subjects-container {
  margin-top: 60px;
}

.create-subject {
  float: right;
  size: 160px;
  margin: 20px;
}
.item {
  width: 200px;
  text-align: center;
}

.subjects>li {
  float: left;
  margin-bottom: 30px;
  margin-left: 30px;
  list-style: none;
  border: 1px solid #555;
}

.subject-picture {
  margin-bottom: 20px;
  margin-top: 4px;
}

.subject-info {
  padding: 9px;

}

.buttons {
  display: flex;
  position: relative;
  left: 10px;
  .subject-btn {
    margin-left: 4px;
  }
}

//subject-show

.subject-show-container {
  margin-top: 60px;
}



