@import "bootstrap";
@import "header";
@import "microposts";


$bgDefault      : #111111;
$bgHighlight    : #333333;
$colDefault     : #3eaeca;
$colHighlight   : #81c2d2;
$dropDown       : true;

body {
  background-color: $bgDefault;
  color: #fff;
}

section {
  overflow: auto;
}

.jumbotron-extend {
  background-color: $bgDefault;
  .container {
    margin-top: 6rem;
    h1,
    p {
      margin-bottom: 0.75rem;
      color: #fff;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    p:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

// discription

.discription-container h2, .discription-container p {
  color: #fff;
}

.discription-container {
  margin: 3rem 0;
  padding: 3rem 1rem;
  h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.8rem;
  }
  p {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}

.discription-img-container {
  margin-bottom: 3rem;
  text-align: center;
}

.discription-img {
  width: 12rem;
  border-radius: 0.1rem;
}

//microposts

.show-container {
  padding: 60px;
}

ol {
  list-style-type: none;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #777;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #888;
    display: block;
    margin-left: 60px;
    float: right;
  }
  .picture {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.pagination>li>a {
  background-color: #333;
  color: $colHighlight;
  border: none;
}

.page-control {
  float: right;
  height: 40px;
}

.user-name {
  color: #888;
}
.title {
  font-weight: bold;
  color: $colHighlight;
}

.delete-button {
  text-align: right;
  padding: 0px;
}

.graph-title {
  font-weight: normal;
  color: $colHighlight;
}

.period-button {
  text-align: right;
}

// left aside

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

//about page

.about-container {
  margin-top: 90px;
  text-align: center;
}

.explain-container {
  margin-top: 30px;
}

.text-container {
  margin-top: 20px;
}

// calendar

#calendar {
  height: 500px;
}

.calendar-title {
  color: $colHighlight;
}

.modal-content {
  background-color: $bgDefault;
}

.modal-title {
  text-align: right
}

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #777;
  }
}

.btn-event {
  float: right;
  padding: 5px;
}

.events-container {
  margin-top: 60px;
}