@import "bootstrap";

$bgDefault      : #111111;
$bgHighlight    : #333333;
$colDefault     : #3eaeca;
$colHighlight   : #81c2d2;
$dropDown       : true;

// signup-form

.input-container {
  width: 450px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-control {
  margin-bottom: 0;
  text-align: center;
  display: block;
  padding: 14px 10px;
  border: 2px solid $colDefault;
  outline: none;
  border-radius: 8px;
  transition: 0.25s;
  background: none;
  color: #fff;
} .form-control:focus {
  border: 2px solid orange;
  background-color: $bgDefault;
}

.submit-btn {
  width: 100%;
  margin-top: 1rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    padding-bottom: 0;
  }
}

.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1.5rem 0 1rem;
}

// login-form

.account-container {
  padding-top: 20px;
}

.form-check {
  display: inline;
}

.form-check-label {
  color: #ccc;
}

// micropost-form

.title-form {
  padding-bottom: 20px;
}

.time-form {
  padding-bottom: 20px;
}

.content-form {
  padding-bottom: 20px;
}

